@{
    ViewBag.Title = "Hakkımda";
}
<h2>@ViewBag.Title.</h2>

<p>Ben Züleyha Öz. İzmir Bakırçay Üniversitesi Bilgisayar Mühendisliği 3. sınıf öğrencisiyim. İleri Web Programlama dersinde öğrendiğimiz ASP.NET ile MVC mimarisine uygun proje geliştirme adımlarnı takip ederek bir To-Do App geliştirdim.</p>
