@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr title="Phone">Telefon Numarası:</abbr>
    +90(555)0801348
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:ozzuleyha2@gmail.com">ozzuleyha2@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ozzuleyha/">ozzuleyha</a><br />
    <strong>Medium:</strong> <a href="https://medium.com/ozzuleyha">ozzuleyha</a><br />
    <strong>Github:</strong> <a href="https://github.com/ozzuleyha">ozzuleyha</a>
</address>