@{
    ViewBag.Title = "To-Do App";
}

<head>
    <meta charset="UTF-8">
    <title>Minimal Todo App | Webdevtrick.com</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


</head>
<body>

    <div id="container">
        <div id="tasks">
            <div id="notification">Sorry, your task list is empty.</div>
            <ul id="tasksList">
            </ul>
        </div>

        <div id="footer">
            <input id="taskInput" type="text" placeholder="Your task" />
            <button id="taskAdd">+</button>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
</body>
